<h1>HEROES</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <!-- El id que recibe la ruta heroe para crear un heroe nuevo: 'nuevo' y se pone / para partir de la raiz-->
        <button [routerLink]="['/heroe','nuevo']" type="button" class="btn btn-primary">Nuevo heroe</button>
    </div>
</div>

<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">

        <div class="table-responsive">

            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th class="text-right" scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of heroes | keys; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ heroes[key].nombre }}</td>
                        <td>{{ heroes[key].casa }}</td>
                        <td class="text-right w120">
                            <button [routerLink]="['/heroe', key]" type="button" class="btn btn-outline-success">Editar</button>
                            <button (click)="borrarHeroe(key)" type="button" class="btn btn-outline-danger">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Alerta de bootstrap para informar de que no hay registros-->
            <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay registros que mostrar</strong>
            </div>

            <!-- Alerta de bootstrap para informar de que los datos están cargando-->
            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Cargando... por favor espere</strong>
            </div>
        </div>

    </div>

</div>